#id_switchcast_video {
    width: 250px;
    max-width: 100%;
}

#page-admin-setting-modsettingivs .adminsettingsflags {
    float: none !important;
    margin-left: 200px !important;
}

.ivs-questions .question-listing form.form-inline {
    float: left;
}
