<li class="annotation-reply">

    <div class="user-picture">
        <img src="{{user_picture}}">
    </div>
    <div class="ivs-annotation-content">
        <div class="annotation-reply-heading">
            <div class="annotation-reply-username">
                {{comment_author_link}}
            </div>
            <div class="annotation-reply-date">
                {{comment_created}}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="annotation-reply-body">
            {{{render_audio_player}}}
            {{{comment_body}}}
        </div>
    </div>
</li>
