{{#audio_annotation_available}}
    <div class="ivs-audio-annotation-content">
        <audio  controls controlsList="nodownload noplaybackrate">
            <source src="{{{audio_annotation}}}">
        </audio>
        <a href="{{{audio_annotation}}}" download>
            <img class="ivs-audio-annotation-download" src="{{{download_button}}}">
        </a>
    </div>
{{/audio_annotation_available}}
