<div id="comment-{{id}}" class="annotation-view-comment-container">
    <div class="comment-left">
        <div class="field-picture"><img src="{{user_picture}}"></div>
        <div class="field-name">
            {{comment_author_link}}
        </div>
        <div class="field-timestamp"><a href="{{{player_link}}}">{{timecode}}</a></div>
    </div>
    <div class="comment-main">
        <div class="field-ivs-annotation-preview"
             data-setup='{"comment_timestamp": {{comment_timestamp}} }'>
            <a href="{{{player_link}}}">
                {{#preview_img_available}}
                    <img src='{{{preview_image}}}'/>
                {{/preview_img_available}}
                {{^preview_img_available}}
                    <div class="video_placeholder" data-videotagid="comment-{{id}}-video" data-videosrc="{{{video_url}}}">
                        <div class="lds-dual-ring"></div>
                    </div>
                {{/preview_img_available}}
                {{{svg}}}

            </a>
        </div>
        {{{render_audio_player}}}
        <div class="ivs-annotation-content">
            <div class="field-created">{{comment_created}}</div>
            <div class="field-body">
                {{{comment_body}}}
            </div>
        </div>
        <div class="clearfix"></div>
        <ul class="field-annotations-replies">
            {{{replies}}}
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
