<p><strong>
    {{comment_author_link}} {{cockpit_report_mail_annotation_header_part_1}} <a
        href="{{{player_link}}}">{{timecode}}</a> {{cockpit_report_mail_annotation_header_part_2}} {{comment_created}} {{cockpit_report_mail_annotation_header_part_3}}
</strong>
<p>{{{comment_body}}}</p>
