<div class="ep5-media">
    <video {{crossorigin}} class="ep5-media-video" width="100%"
    preload="metadata">
    <source src="{{source}}" type="video/mp4"/>
    <div>Sorry, your browser or device is not supported!</div>
    </video>
</div>
