
.ivs-questions > div {
    margin: 2em 1em;
}

.ivs-questions > div > div {
    margin: 2em 0;
}

table th.text-center,
table td.text-center {
    text-align: center;
}

.ivs-questions .answers .text-answer {
    max-width: 20em;
}

.ivs-questions .answers .answers-header-details {
    font-weight: normal;
}

.ivs-questions .question-answers-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answers-header-details .MathJax_Display {
    display: inline !important;
}

.answers-header-details .filter_mathjaxloader_equation p {
    display: inline !important;
}

.answers-header-details p {
    display: inline !important;
}
