<div>
    <div class="question-summary-title">
        <div class="pull-left"><strong>{{title}}</strong></div>
    </div>

    <div class="question">
        <div class="answers">
            <table class="generaltable table-sm table-bordered">
                <tr>
                    <th scope="col" class="centeralign">{{question_id}}</th>
                    <th scope="col" class="centeralign">{{question_title}}</th>
                    <th scope="col" class="centeralign">{{question_body}}</th>
                    <th scope="col" class="centeralign">{{question_type}}</th>
                    <th scope="col" class="centeralign">{{question_first_try}}</th>
                    <th scope="col" class="centeralign">{{question_last_try}}</th>
                    <th scope="col" class="centeralign">{{question_answered}}</th>
                </tr>
                {{#questions}}
                    {{{.}}}
                {{/questions}}
            </table>
        </div>
    </div>


    <!--Items per Pager-->
    <div class="question-summary-footer">
        <form class="form-inline">
            <div class="form-group">
                <label for="items-per-page" class="">{{elements}}</label>

                <select id="items-per-page" class="form-control"
                        onchange="location = this.value;">
                    {{#pager_options}}
                        {{{.}}}
                    {{/pager_options}}
                </select>
            </div>
        </form>
        <div class="question-download">
            {{{download_options}}}
        </div>
    </div>
</div>
