{{#question_id}}
    <tr>
        <td class="question_id_{{question_id}}">{{question_id}}</td>
        <td class="question_title_{{question_id}}">{{{question_title}}}</td>
        <td class="question_body_{{question_id}}">{{{question_body}}}</td>
        <td class="question_type_{{question_id}}">{{question_type}}</td>
        <td class="first_attempt_{{question_id}}">{{question_first_try}}</td>
        <td class="last_attempt_{{question_id}}">{{question_last_try}}</td>
        <td class="question_answered_{{question_id}}">{{question_answered}}</td>
    </tr>
{{/question_id}}
