<tr>
    <td id="question-{{id}}">
        <div class="question">
            <label>{{id}}</label>
        </div>
    </td>
    <td id="question-{{id}}">
        <div class="question">
            <a href="{{{link}}}">{{{question}}}</a>
        </div>
    </td>
</tr>
