{{#fullname}}
    <tr>
        <td>{{fullname}}</td>
        <td>{{id}}</td>
        <td class="text-center">{{correct}}</td>
        <td class="text-center">{{selected_answer}}</td>
        <td>{{retries}}</td>
        <td>{{last}}</td>
    </tr>
{{/fullname}}
