<table>
    <tr class="ivs-license-instance-identification">
        <td
            {{license_package_label}}</td>
        <td
            {{license_package_info}}</td>
    </tr>
</table>

{{#course_license_has_items}}
    <table class="generaltable table-sm table-bordered" id="ivs-license-course-table">
        <tr>
            <th scope="col" class="centeralign col-md-4">{{course_title}}</th>
            <th scope="col" class="centeralign col-md-3">{{course_spots_title}}</th>
            <th scope="col" class="centeralign col-md-4">{{course_package_title}}</th>
            <th scope="col" class="centeralign col-md-1">{{course_reassign_title}}</th>
        </tr>
        {{#course_license}}
            <tr>
                {{id}}
                <td>{{title}}</td>
                {{id}}
                <td>{{course_spots}}</td>
                {{id}}
                <td>{{product_name}}</td>
                {{id}}
                <td class="ivs-license-icon"><a class="ivs-license-course-remove" href="{{remove_link}}">{{#pix}}{{remove_icon}}{{/pix}}</a>
                </td>
            </tr>
        {{/course_license}}
    </table>
{{/course_license_has_items}}
