label.ivs-setting-locked-checkbox {
    margin-left: 200px;
}

#id_panopto_video{
    width: 60%;
}

.ivs-setting-locked-checkbox{
    position: absolute;
    right:0;
}

#id_mod_ivsmisc,
#id_mod_ivsadvanced{
    margin-top: 40px;
}
