<div class="row">
    <div class="col-md-3">
        {{instance_id_label}}
    </div>
    <div class="col-md-6 ivs-license-instance-identification-value">{{license_instance_id}}</div>
    <div class="col-md-3 ivs-license-package-button"><a href="{{manage_license_href}}" target="_blank">
        <Button>{{manage_license_label}}</Button>
    </a>
    </div>

</div>