<h2>{{statistic_heading}}</h2>
<br>
<div>{{statistic_info}}</div>
<br>

<h4>{{statistic_info_general}}</h4>
<br>
<table class="generaltable table-sm table-bordered ivs-table-width-small">
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_activities_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_activities}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_courses_with_ivs_activities_label}}</th>
        <td class="centeralign col-md-4">{{num_courses_with_ivs_activities}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_comments_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_comments}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_audio_comments_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_audio_comments}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_match_takes_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_match_takes}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_match_questions_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_match_questions}}</td>
    </tr>
</table>

<br>
<h4>{{num_ivs_match_questions_types_label}}</h4>
<br>

<table class="generaltable table-sm table-bordered ivs-table-width-small">
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_match_questions_types_single_choice_question_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_match_questions_types_single_choice_question}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_match_questions_types_click_question_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_match_questions_types_click_question}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_match_questions_types_text_question_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_match_questions_types_text_question}}</td>
    </tr>
</table>


<br>
<h4>{{num_ivs_videohosts_label}}</h4>
<br>
<table class="generaltable table-sm table-bordered ivs-table-width-small">
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_videohosts_panopto_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_videohosts_panopto}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_videohosts_kaltura_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_videohosts_kaltura}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_videohosts_opencast_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_videohosts_opencast}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_videohosts_internal_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_videohosts_internal}}</td>
    </tr>
    <tr>
        <th class="centeralign col-md-8">{{num_ivs_videohosts_external_label}}</th>
        <td class="centeralign col-md-4">{{num_ivs_videohosts_external}}</td>
    </tr>
</table>